:root {
  /* https://easingwizard.com/
   Spring -> bounce -> css
  */
  --bounce: linear(
    0,
    0.066 0.5%,
    0.246 1%,
    1.456 3.2%,
    1.63 3.8%,
    1.673 4.3%,
    1.625 4.8%,
    1.501 5.3%,
    0.688 7.5%,
    0.586 8%,
    0.547 8.5%,
    0.57 9%,
    0.647 9.5%,
    1.214 11.8%,
    1.28 12.3%,
    1.305 12.8%,
    1.288 13.3%,
    1.235 13.8%,
    0.854 16.1%,
    0.81 16.6%,
    0.795 17.1%,
    0.807 17.6%,
    0.844 18.1%,
    1.092 20.3%,
    1.129 20.9%,
    1.138 21.4%,
    1.129 21.9%,
    1.104 22.4%,
    0.937 24.6%,
    0.907 25.6%,
    0.927 26.6%,
    1.043 28.9%,
    1.063 29.9%,
    1.049 30.9%,
    0.97 33.2%,
    0.958 34.2%,
    0.968 35.2%,
    1.019 37.4%,
    1.028 38.5%,
    0.981 42.7%,
    1.013 47%,
    0.991 51.3%,
    1.006 55.6%,
    0.996 59.8%,
    1.003 64.1%,
    1
  );
  /*Spring -> lazy -> Mass: 4.8 -> css*/
  --lazy: linear(
    0,
    0.01 1%,
    0.04 2.1%,
    0.089 3.2%,
    0.158 4.4%,
    0.318 6.6%,
    0.8 12.5%,
    0.92 14.2%,
    1.023 15.9%,
    1.107 17.6%,
    1.167 19.2%,
    1.211 20.9%,
    1.237 22.6%,
    1.245 24.9%,
    1.225 27.5%,
    1.185 30.1%,
    1.059 36.4%,
    1.005 39.6%,
    0.963 43.1%,
    0.943 46.6%,
    0.945 51.9%,
    0.998 63.8%,
    1.013 70.4%,
    1
  );
}

.fancy-hover1 {
  @media (hover) and (prefers-reduced-motion: no-preference) {
    & > li {
      transform-origin: left center;

      transition:
        /*transform 0.3s linear,*/
        /*transform 1s var(--bounce),*/
        transform 1s var(--lazy),
        opacity 0.3s linear;
    }

    &:has(> li:hover) > li:not(:hover),
    &:has(> li:focus-within) > li:not(:focus-within) {
      opacity: 0.25;
      transform: scale(0.8);
    }
  }
}

.fancy-hover {
  padding: 4rem;
  /*background: hsl(0 100% 100% / 0.2);*/
  background: lightgrey;

  @media (hover) {
    & > * {
      transition: opacity 0.3s linear;
    }

    /* This will change to lighter ink as soon as you hover over the element, e.g. fancy-hover but outside of the list
       Only when you hover on the specific item, that specific item will show dark link again.
     */
    /*&:hover > *:not(:hover) {*/

    /* ---------------------------------------------- */

    /* this one when you hover on the whole element, e.g. fancy-hover but outside of the list, it will not do anything
       Only when you hover on specific item, others will fade out.
    */

    /* for hover */
    &:has(> li:hover) > li:not(:hover),
    /* for tab */
    &:has(> li:focus-within) > li:not(:focus-within) {
      opacity: 0.25;
    }
  }
}
